.App {
  text-align: center;
}
body{
  background: rgb(26, 22, 36);
}
.container_app {
  grid-template-areas:
    "header header header header header"
    "main main main main main"
    "main main main main main"
    "footer footer footer footer footer";
  display: grid;
}
.Header_tag {
  grid-area: header;
  height: 10vh;
  background: black;
  display: flex;
  direction: rtl;
  flex-wrap: wrap;
  border-bottom: 1px solid white;

}
.Footer_tag {
  grid-area: footer;
  background: black;
  height: 10vh;
  border-top: 1px solid white;
}
.Header_tag button {
  padding: 7px;
  margin: 10px;
  color: white;
  background: none; 
  border: none;
  border-bottom: 1px solid white;
  cursor: pointer;
}
.Header_tag button:hover{
  background:rgb(26, 22, 36);;

}
.logoutBtn{
  margin-right: auto;
}
