.App {
  text-align: center;

}

.container_app {
  grid-template-areas:
    "header header header header header"
    "main main main main main"
    "main main main main main"
    "footer footer footer footer footer";
  display: grid;
  width: 100vw;
  height: 100vh;
}

.Header_tag {
  grid-area: header;
  height: 160px;
  border-bottom: 2px solid black;
  background: black;
}

.Footer_tag {
  grid-area: footer;
  border-top: 2px solid black;
  background: black;
}

.warp_Calender {
  grid-area: main;
}

._calenderStyle {
  position: relative;
  height: 300px;
  width: 900px !important;
}

.contain_calender {
  display: flex;
  justify-content: space-around;
}

.Header_tag button {
  padding: 10px;
  margin: 10px;
  /* background: gold;
  font-size: larger; */
}
/* .Header_tag button:hover{
  padding: 10px;
  margin: 10px;
  background: black;
  font-size: larger;
  color: gold;
  border: 2px solid gold;
} */
/* input {
  border: none;
  border-bottom: 2px solid black;
  background: white;
}

label {
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  text-align: inherit;
} */
