.calendarModal__content {
    width: 30vw;
    color: white;
}
.contain_all_info{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(122, 118, 118, 0.6);
    /* opacity: 0.1; */
}
.set_newTurn {
    border: 2px solid white;
    height: 70%;
    width: 29vw;
    left: 30%;
    background: gray;
    position: absolute;
    /* z-index: 1; */
}
.turn_details {
    border: 10px solid green;
    background: gray;
    padding: 30px;
    position: absolute;
    width: 30vw;
    left: 30%;
    height: 60%;
}

.turn_details span {
    font-size: larger;
    color: white;
}
/* .span_tap {
    font-weight: bold;
    color: white;
} */

p {
    font-weight: bold;
    color: white;
}

.button_icon{
    background: none;
    border: none;
    color: green;
    cursor: pointer;
}
.turn_info h2 {
    border-bottom: 2px double white;
    margin-left: 8vw;
    margin-right: 8vw;
    padding: 5px;
}

