* {
    margin: 0;
    padding: 0;
}

.calendarModal__content {
    width: 30vw;
    color: white;
}

.contain_all_info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(16, 38, 30, 0.1)
}

.set_newTurn {
    border: 2px solid white;
    width: 30vw;
    height: 35vh;
    left: 30%;
    color: gold;
    box-shadow: 10px 10px 10px black;
    background: black;
    position: absolute;
    top: 10%;
    border-radius: 20px;
    border: 2px green solid;
}

.turn_details {
    box-shadow: 10px 10px 10px black;
    border: 2px solid red;
    background: black;
    position: absolute;
    width: 30vw;
    left: 30%;
    top: 10%;

    color: gold;
    height: 35vh;
    border-radius: 20px;
}

.turn_details h1 {
    border-bottom: 2px double gold;
    margin: 4%;
}

.turn_details p {
    font-size: larger;
}

.turn_info p {
    margin-top: 5%;
    font-size: 20px;
    font-weight: lighter;
}

.turn_info h1 {
    border-bottom: 2px double gold;
    margin: 4%;
}

.button_icon {
    background: none;
    border: none;
    color: green;
    cursor: pointer;
}