* {
    margin: 0;
    padding: 0;
}

.calendarModal__content {
    width: 30vw;
    color: white;
}

.contain_all_info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(16, 38, 30, 0.1)
}

.set_newTurn {
    border: 2px solid white;
    width: 25vw;
    height: 30vh;
    left: 35%;
    color: gold;
    box-shadow: 10px 10px 10px black;
    background: black;
    position: absolute;
    top: 10%;
    border-radius: 20px;
    border: 2px green solid;
   
}
.freeTurn p {
    margin-top: 5%;
    font-size: 20px;
    font-weight: lighter;
}

.freeTurn h1 {
    border-bottom: 2px double gold;
    margin: 4%;
    border-radius: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.savedTurn {
    box-shadow: 10px 10px 10px black;
    border: 2px solid red;
    background: black;
    position: absolute;
    width: 25vw;
    height:30vh;
    left: 35%;
    top: 10%;
    color: gold;
    border-radius: 20px;
}

.savedTurn h1 {
    border-bottom: 2px double gold;
    margin: 4%;
    border-radius: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.savedTurn p {
    font-size: larger;
}

.button_icon {
    background: none;
    border: none;
    color: green;
    cursor: pointer;
}