.switching_between_compo {
    width: 10vw;
    height: 4vw;
    background: white;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 40px;
}

.switching_between_compo:hover {
    background: #E7E9EB;
    border: 2px solid white;
}

.contoin_all {
    border-bottom: 70px solid #E7E9EB;
    background: #E7E9EB;
    position: relative;
    /* left: 86%; */
    height: 20%;
    margin-left: 30vw;
    margin-right: 30vw;
    border-radius: 5px;
}

label {
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

button {
    margin: 5px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    background: white;
    border: 2px solid white;
    width: 2;
    border: 2px solid #E7E9EB;

}

button:hover {
    background: rgb(216, 214, 214);
    background: #E7E9EB;
}

.input_register {
    height: 5vh;
}

.login_countainer {
    background: white;
    border: 2px solid #E7E9EB;

}

.register_countainer {
    border: 2px solid #E7E9EB;
    background: white;
}

.input_text {
    height: 5vh;
}

.input_password {
    height: 5vh;
}

/*//!  fullName */

.fullName_icon {
    position: relative;
    left: 2px;
    margin: 2px;
}

.fullName_remark_text {
    color: transparent;
    font-size: smaller;
    position: absolute;
}

.fullName_icon:hover+.fullName_remark_text {
    background: #E7E9EB;
    ;
    width: 10vw;
    height: 8vh;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    padding:2px
}

/* //! password */
.password_icon {
    position: relative;
    left: 2px;
    margin: 2px;
}

.password_remark_text {
    color: transparent;
    font-size: smaller;
    position: absolute;
}

.password_icon:hover+.password_remark_text {
    background: #E7E9EB;
    ;
    width: 10vw;
    height: 8vh;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    padding:2px
}

/* //! phoneNumber */
.phoneNumber_icon {
    position: relative;
    left: 2px;
    margin: 2px;
}

.phoneNumber_remark_text {
    color: transparent;
    font-size: smaller;
    position: absolute;
}

.phoneNumber_icon:hover+.phoneNumber_remark_text {
    background: #E7E9EB;
    width: 10vw;
    height: 9vh;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    padding:2px
}