.clientDetails{
     background: black;
    height: 41vh;
    width: 25vw;
    position: relative;
    left: 25%;
    top: 20%;
    color: white;
    border: 1px solid white;
    border-radius: 10px; 
    padding: 5px;  
}

.clientDetails article h3{
    border: 1px solid white;
   border-radius: 5px;
   margin-top: 3px;
}
.clientDetails img{
    border-radius: 40px;
    border: 1px solid white;
    width: 10vw;
    height: 20vh;
}