.warp_profile {
    margin: 2px;
    padding: 2%;
    position: relative;
    left: 31%;
    border-radius: 10px;
    border: 2px solid white;
    width: 30vw;
    background: gray;
    
}
.profile{
    border-radius: 10px;
    border: 2px solid white;
}
.pro_details {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 2px;
}

.turnInfo span {
    font-weight: bolder;
    color: white;
}

.turnInfo h3 {
    color: white;
}

.edit_icon {
    cursor: pointer;
    margin: 5px;
    font-size: 50px;
    color: white;
    position: relative;
}


.cut_icon {
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    width: 5vw;
    color: white;
    font-size: 30px;
}

.contain_Turns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.exist_turn h3 {
    font-weight: lighter;
}

.exist_turn {
    margin: 3px;
    padding: 10px;
    border-radius: 20px;
    border: 2px dotted white;
    width: 13vw;
    font-weight: lighter;
    font-size: 17px;
}

.text_editIcon {
    color: transparent;
    position: absolute;
}

.edit_icon:hover+.text_editIcon {
    background: rgb(209, 206, 206);
    border: 1px solid black;
    color: black;
    padding: 5px;
}

.delete_icon {
    cursor: pointer;
    color: white;
    font-size: larger;
    margin: 2px;
    font-size: 30px;
}

.text_deleteIcon {
    color: transparent;
    position: absolute;
    top: 89%;
}

.delete_icon:hover+.text_deleteIcon {
    background: rgb(209, 206, 206);
    color: black;
    padding: 3px;
    border: 1px solid black;
}

.exitTurns_component h2 {
    font-weight: lighter;
    border-bottom: 2px dotted white;
    border-top: 2px dotted white;
    color: white;
    border-radius: 90px;
    width: 18vw;
    position: relative;
    left: 20%;
}

.edit_userProfile {
    border: 2px solid black;
    width: 30vw;
    height: 60vh;
    position: absolute;
    right: 2.3%;
    top: 12%;
    background: rgb(95, 95, 114);
    border-radius: 20px;
    z-index: 1;
}

.edit_userProfile h1 {
    border-radius: 90px;
    border-top: 2px dotted white;
    border-bottom: 2px dotted white;
    font-weight: lighter;
    color: white;
    width: 20vw;
    position: relative;
    left: 18%;
}

.edit_userProfile input {
    height: 50px;
    width: 20vw;
    border-radius: 10px;
}

.edit_userProfile label {
    color: white;
    font-size: x-large;
    font-weight: lighter;
}

.edit_userProfile button {
    padding: 10px;
    margin: 15px;
    font-size: x-large;

}

.edit_userProfile h2 {
    position: absolute;
    left: 91%;
    top: -4%;
    background: white;
    width: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.notExistTurn h4{
    position: relative;
    left: 50%; 
    color: white;
    font-size: 25px;
    font-weight: lighter;
}

.editInfo img {
    border-radius: 50px;
    border: 2px solid white;
    margin: 5px;
    width: 15vw;
}

.editInfo h1 {
    border-radius: 90px;
    border-top: 2px dotted white;
    border-bottom: 2px dotted white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color: white;
    width: 18vw;
    margin-left: 20%;

}