.profile{
    margin: 10px;
    padding: 5%;
    position: relative;
    left: 65%;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pro_details{
    margin-top: 5vh;
    margin-right: 2vw;
}
.pro_details h1{
    font-family: 'Courier New', Courier, monospace;
}
.pro_details img{
    margin: 10px;
    width: 15vw;
    border-radius: 20px;
}
.exist_turn{
    margin-top: 3px;
    padding: 5px;
    border: 2px solid black;
}
.exist_turn span{
    font-weight: bolder;
}
.edit_icon{
  cursor: pointer;
}
.delete_icon{
  cursor: pointer;
}
.cut_icon{
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    width: 5vw;
}